
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI, Arial, sans-serif;
    background: #fffcf5; 
    color: #374375; 
    line-height: 1.6;
    padding: 30px;
}


.container-satu {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.sidebar-satu, .kolom-utama, .sidebar-dua {
    background: #babde2; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-satu h3 {
    margin-bottom: 15px;
    color: #895159; /* merah kecoklatan */
    border-bottom: 2px solid #dfaea1;
    padding-bottom: 8px;
}

.sidebar-satu ul {
    list-style: none;
}

.sidebar-satu li {
    margin-bottom: 12px;
}

.sidebar-satu a {
    text-decoration: none;
    color: #374375; 
    font-weight: bold;
    transition: all 0.3s;
    padding: 5px 10px;
    border-radius: 6px;
}

.sidebar-satu a:hover {
    background: #dfaea1; 
    color: #fff;
}
.kolom-utama {
    flex: 2;
    order: 2;
}

.kolom-utama h2 {
    color: #374375;
    margin-bottom: 15px;
    border-left: 5px solid #895159;
    padding-left: 10px;
}

.kolom-utama img {
    
    display: block;
    margin: 10px auto 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
.sidebar-dua {
    flex: 1;
    order: 3;
    text-align: center;
}

.sidebar-dua h3 {
    margin-bottom: 12px;
    color: #895159;
    border-bottom: 2px solid #dfaea1;
    padding-bottom: 8px;
}

.sidebar-dua p {
    font-style: italic;
    color: #374375;
    background: #dfaea1;
    padding: 15px;
    border-radius: 10px;
}

