body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.container {
    max-width: 600%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px opx 5px #888888;
}
h2{
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td{
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background: #f2f2f2;
}
.btn-tambah {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.btn-tambah:hover {
    background-color: #45a049;
}
form{
    margin-top: 20px;
}
label{
    display: block;
    font-weight: bold;
}
input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}
.radio-group label{
    display: inline;
    margin-right: 20px;
}
input[type="radio"]{
    margin-left: 5px;
}
button[type="submit"], .btn-kembali{
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover, .btn-kembali:hover{
    background-color: #45a049;
}
.btn-kembali{
    background-color: #e74c3c;
}
